.detailContainer {
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* min-width: 50%; */
    width: fit-content;
    /* margin-left: 20px;
    margin-right: 20px; */
    margin-top: 60px;
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(253,255,227,1) 10%, rgba(253,255,227,1) 90%, rgba(255,255,255,1) 100%);
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.descriptionText {
    text-align: left;
    line-height: 30px;
    font-size: 16pt;
}
.imageStyle {
    -webkit-box-shadow: 4px 4px 11px 0px rgba(97,97,97,1);
    -moz-box-shadow: 4px 4px 11px 0px rgba(97,97,97,1);
    box-shadow: 4px 4px 11px 0px rgba(97,97,97,1);
    max-height: 20%;
    margin-right: 100px;
}